.vscode

.old_code
.notes
.archive/*
.aid

__pycache__
wandb
menv
nanoGPT
models
huggingface_models
data
 
summarization/synthetic_datasets
summarization/trained_models

highlighting/data
highlighting/models

.archive/highlighting_1.txt

